.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#loginForm {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    font-size: 15px;
}

#loginForm div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

#loginForm label {
    min-width: 60px;
}

.group-input {
    display: flex;
    flex-direction: column;
}

#loginForm input {
    width: 300px;
}

#loginForm #btnLogin {
    margin-top: 20px;
    padding: 5px 40px;
    cursor: pointer;
    border: 1px solid rgb(144, 144, 144);
    display: flex;
    gap: 10px;
}